@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
/* Fonts */
/* Media query breakpoints */
@keyframes navin {
  0% {
    clip-path: circle(0% at 0 100%);
  }
  100% {
    clip-path: circle(150% at 0 100%);
  }
}
@keyframes navout {
  0% {
    clip-path: circle(150% at 0 100%);
  }
  100% {
    clip-path: circle(0% at 0 100%);
  }
}
@keyframes card-shine {
  100% {
    left: 125%;
  }
}
@keyframes icon-hover {
  0% {
    transform: rotateZ(0);
  }
  30% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes card-slide-mobile {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes card-slide-desktop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Mixin to manage responsive breakpoints */
html {
  font-size: 15px;
}

body {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  background: white;
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.eot?j98q9b");
  src: url("../../assets/fonts/icomoon.eot?j98q9b#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.ttf?j98q9b") format("truetype"), url("../../assets/fonts/icomoon.woff?j98q9b") format("woff"), url("../../assets/fonts/icomoon.svg?j98q9b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-close:before {
  content: "";
  color: #fff;
}

.i-facebook:before {
  content: "";
  color: #fff;
}

.i-hamburger:before {
  content: "";
  color: #fff;
}

.i-instagram:before {
  content: "";
  color: #fff;
}

.i-pinterest:before {
  content: "";
  color: #fff;
}

.i-twitter:before {
  content: "";
  color: #fff;
}

.kv {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 650px;
  padding: 91px 24px 0 24px;
  z-index: 10;
}
@media (min-width: 769px) {
  .kv {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/images/desktop/image-hero.jpg");
  }
}
.kv__container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.kv__heading-wrapper {
  margin-top: 132px;
  border: 2px solid white;
  max-width: 450px;
}
@media (min-width: 769px) {
  .kv__heading-wrapper {
    max-width: 650px;
  }
}
.kv__heading {
  font-size: clamp(2.13rem, 6vw, 4.8rem);
  max-width: clamp(270px, 51vw, 100%);
  line-height: clamp(2.53rem, 6vw, 4.66rem);
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding: 24px;
  transition: padding 250ms ease-in;
}
@media (min-width: 1025px) {
  .kv__heading {
    padding: 40px 40px 28px 40px;
  }
}

.header {
  position: absolute;
  padding: 32px 24px 0 24px;
  z-index: 20;
  width: 100%;
}
@media (min-width: 769px) {
  .header {
    padding: 64px 24px 0 24px;
  }
}
.header.nav-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  padding-top: 0;
}
.header.nav-scroll .header__container {
  padding: 15px 8px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}
@media (min-width: 769px) {
  .header__container {
    padding: 0;
    max-width: 1110px;
    margin: 0 auto;
  }
}
.header__logo-link {
  display: flex;
  text-decoration: none;
}
.header__logo-link:focus {
  outline: 2px dotted white;
  outline-offset: 4px;
}
.header__logo {
  position: relative;
  width: clamp(9.6rem, 20vw, 12.8rem);
  z-index: 2;
}
.header__nav.hamburger--active .header__hamburger-bars {
  transform: rotate(225deg);
  transition: transform 220ms 120ms ease-in-out;
}
.header__nav.hamburger--active .header__hamburger-bars::before {
  top: 0;
  transition: top 100ms ease-out;
}
.header__nav.hamburger--active .header__hamburger-bars::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
}
.header__nav.nav--open .header__nav-list {
  display: block;
  animation: navin 600ms ease-in forwards;
}
@media (min-width: 769px) {
  .header__nav.nav--open .header__nav-list {
    display: flex;
  }
}
.header__nav.nav--close .header__nav-list {
  animation: navout 600ms ease-in-out;
}
.header__hamburger {
  position: relative;
  border: 0;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}
.header__hamburger:focus {
  outline: none;
}
.header__hamburger:focus > .header__hamburger-container {
  outline: 2px dotted white;
}
@media (min-width: 769px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
}
.header__hamburger-container:focus {
  outline: none;
}
.header__hamburger-bars {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: white;
  transition: transform 220ms ease-in-out;
}
.header__hamburger-bars::before, .header__hamburger-bars::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
}
.header__hamburger-bars::before {
  top: -7px;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.header__hamburger-bars::after {
  bottom: -7px;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.header__nav-list {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 220px;
  padding-left: 24px;
  list-style: none;
  background: black;
}
@media (min-width: 769px) {
  .header__nav-list {
    position: relative;
    display: flex;
    background: transparent;
    padding: 0;
    width: unset;
    height: unset;
  }
}
.header__nav-item:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width: 769px) {
  .header__nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
.header__nav-link {
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
@media (min-width: 769px) {
  .header__nav-link {
    font-family: "Alata", sans-serif;
    text-transform: unset;
    font-size: 1rem;
  }
  .header__nav-link::before {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: white;
    transition: width 200ms ease-in;
  }
  .header__nav-link:hover::before {
    width: 25px;
  }
}
.header__nav-link:focus {
  outline: 2px dotted white;
  outline-offset: 4px;
}

.about {
  padding: 96px 24px;
}
@media (min-width: 1025px) {
  .about {
    padding-top: 160px;
  }
}
.about__wrapper {
  position: relative;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .about__wrapper {
    max-width: 1110px;
  }
}
.about__image {
  width: 100%;
}
@media (min-width: 769px) {
  .about__image {
    max-width: 731px;
  }
}
.about__info {
  text-align: center;
  padding-top: 48px;
}
@media (min-width: 769px) {
  .about__info {
    position: absolute;
    bottom: 4px;
    right: 0;
    background: white;
    padding-top: 96px;
    padding-left: 96px;
    text-align: left;
    max-width: 541px;
  }
}
.about__heading {
  font-size: 2.13rem;
  line-height: 2.13rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media (min-width: 769px) {
  .about__heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
    margin-bottom: 26px;
  }
}
.about__text {
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  line-height: 1.66rem;
  color: #8c8c8c;
}

.creations {
  padding: 0 24px;
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .creations {
    margin-top: 93px;
    margin-bottom: 183px;
  }
}
.creations__wrapper {
  display: grid;
  grid-gap: 32px;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .creations__wrapper {
    grid-template-areas: "heading btn" "card card";
  }
}
@media (min-width: 1025px) {
  .creations__wrapper {
    grid-gap: 80px;
  }
}
.creations__heading {
  font-size: clamp(2.13rem, 5vw, 3.2rem);
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2.66rem;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 769px) {
  .creations__heading {
    grid-area: heading;
    text-align: left;
  }
}
.creations__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 24px;
  margin-top: 16px;
}
@media (min-width: 769px) {
  .creations__gallery {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-area: card;
    grid-gap: 30px;
  }
}
@media (min-width: 1025px) {
  .creations__gallery {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
  }
}
.creations__gallery-card {
  position: relative;
  overflow: hidden;
  opacity: 0;
  /* Tone down the animation to avoid vestibular motion triggers */
}
@media (min-width: 769px) {
  .creations__gallery-card:hover::before {
    opacity: 1;
  }
  .creations__gallery-card:hover .creations__gallery-figure::after {
    animation: card-shine 1s;
  }
  .creations__gallery-card:hover .creations__gallery-figure::before {
    opacity: 0;
  }
  .creations__gallery-card:hover .creations__gallery-image {
    transform: scale(1.05) rotateZ(1deg);
  }
  .creations__gallery-card:hover .creations__gallery-caption {
    color: black;
  }
  .creations__gallery-card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 600ms ease-in;
    z-index: 1;
  }
}
@media (min-width: 1025px) {
  .creations__gallery-card:nth-child(4) .creations__gallery-caption {
    width: 128px;
  }
}
.creations__gallery-card:focus {
  outline: 2px dotted black;
  outline-offset: 2px;
}
.creations__gallery-card.card-anim {
  animation: card-slide-mobile 700ms ease-in forwards;
}
@media (min-width: 769px) {
  .creations__gallery-card.card-anim {
    animation: card-slide-desktop 700ms ease-in forwards;
  }
}
@media (prefers-reduced-motion) {
  .creations__gallery-card.card-anim {
    animation-name: dissolve;
    opacity: 1;
  }
}
.creations__gallery-figure {
  position: relative;
  height: 100%;
  max-height: 120px;
}
@media (min-width: 769px) {
  .creations__gallery-figure {
    max-height: 160px;
  }
  .creations__gallery-figure::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: -90%;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    z-index: 2;
  }
}
@media (min-width: 1025px) {
  .creations__gallery-figure {
    max-height: 450px;
  }
}
.creations__gallery-figure::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
  z-index: 1;
  transition: opacity 250ms ease-in;
}
@media (min-width: 1025px) {
  .creations__gallery-figure::before {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  }
}
.creations__gallery-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: white;
  width: 128px;
  z-index: 5;
  transition: color 400ms ease-in;
}
@media (min-width: 1025px) {
  .creations__gallery-caption {
    bottom: 32px;
    left: 40px;
    font-size: 2.13rem;
    line-height: 2.13rem;
    width: 168px;
  }
}
.creations__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 500ms ease-in;
}
.creations__btn {
  position: relative;
  border: 1px solid black;
  background: none;
  padding: 10px 38px;
  font-size: 0.93rem;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 5px;
  justify-self: center;
  cursor: pointer;
  transition: background 350ms ease-in, color 350ms ease-in;
  z-index: 1;
  overflow: hidden;
}
.creations__btn--desktop {
  display: none;
}
@media (min-width: 769px) {
  .creations__btn {
    grid-area: btn;
    justify-self: end;
  }
  .creations__btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: black;
    transition: transform 250ms ease-in;
    z-index: -1;
  }
  .creations__btn:hover {
    color: white;
  }
  .creations__btn:hover::before {
    transform: scaleX(1.1);
  }
  .creations__btn--mobile {
    display: none;
  }
  .creations__btn--desktop {
    display: block;
  }
}
.creations__btn:focus {
  background: black;
  color: white;
  outline: 2px dotted black;
  outline-offset: 4px;
}

.footer {
  margin-top: 85px;
  background: black;
  padding: 56px 24px;
}
@media (min-width: 769px) {
  .footer {
    padding: 45px 55px;
  }
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .footer__wrapper {
    grid-template-areas: "logo socials" "nav copy";
    grid-gap: 21px;
    justify-items: unset;
    justify-content: space-between;
  }
}
.footer__logo {
  display: flex;
}
.footer__logo-link {
  text-decoration: none;
}
.footer__logo-link:focus {
  outline: 2px dotted white;
  outline-offset: 4px;
}
.footer__logo-img {
  width: 144px;
}
.footer__nav {
  margin-top: 35px;
}
@media (min-width: 769px) {
  .footer__nav {
    grid-area: nav;
    margin-top: 0;
  }
}
.footer__nav-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
}
@media (min-width: 769px) {
  .footer__nav-list {
    flex-flow: row;
  }
}
.footer__nav-item {
  position: relative;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .footer__nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 25px;
  }
}
@media (min-width: 1025px) {
  .footer__nav-item:not(:last-child) {
    margin-right: 33px;
  }
}
.footer__nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Alata", sans-serif;
}
@media (min-width: 769px) {
  .footer__nav-link:hover::before {
    width: 25px;
  }
  .footer__nav-link::before {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: white;
    transition: width 250ms ease-in-out;
  }
}
.footer__nav-link:focus {
  outline: 2px dotted white;
  outline-offset: 4px;
}
.footer__socials {
  display: flex;
  margin-top: 50px;
}
@media (min-width: 769px) {
  .footer__socials {
    grid-area: socials;
    margin-top: 0;
    justify-self: end;
  }
}
.footer__socials-link {
  position: relative;
  display: flex;
  text-decoration: none;
  font-size: 1.6rem;
}
@media (min-width: 769px) {
  .footer__socials-link:hover .footer__socials-icon {
    animation: icon-hover 550ms ease-in;
  }
  .footer__socials-link:hover::before {
    width: 100%;
  }
  .footer__socials-link::before {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: white;
    transition: width 250ms ease-in-out;
  }
}
.footer__socials-link:not(:last-child) {
  margin-right: 16px;
}
.footer__socials-link:focus {
  outline: 2px dotted white;
  outline-offset: 4px;
}
.footer__copyrights {
  color: dimgray;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  margin-top: 14px;
}
@media (min-width: 769px) {
  .footer__copyrights {
    grid-area: copy;
    margin-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
