@use '../utilities/' as *;

.creations {
    $root: &;
    padding: 0 24px;
    margin-bottom: 30px;
    
    @include breakpoint('md') {
        margin-top: 93px;
        margin-bottom: 183px;
    }

    &__wrapper {
        display: grid;
        grid-gap: 32px;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;

        @include breakpoint('md') {
            grid-template-areas: "heading btn" "card card";
        }

        @include breakpoint('lg') {
            grid-gap: 80px;
        }
    }

    &__heading {
        font-size: clamp(2.13rem, 5vw, 3.2rem);
        text-transform: uppercase;
        font-family: $ff-primary;
        line-height: 2.66rem;
        font-weight: 300;
        text-align: center;

        @include breakpoint('md') {
            grid-area: heading;
            text-align: left;
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-gap: 24px;
        margin-top: 16px;
        
        @include breakpoint('md') {
            grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
            grid-area: card;
            grid-gap: 30px;
        }
        
        @include breakpoint('lg') {
            grid-template-columns: repeat(4, 1fr);
            margin-top: 0;
        }
    }

    &__gallery-card {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 120px;
        opacity: 0;

        @include breakpoint('md') {
            height: 160px;
    
            &:hover {
                #{$root}__gallery-effect::after {
                    opacity: 1;
                }

                #{$root}__gallery-effect::before {
                    opacity: 0;
                }

                #{$root}__gallery-caption::after {
                    animation: card-shine 1s;
                }

                #{$root}__gallery-caption::before {
                    transform: scale(1.05) rotate(1deg);
                }

                #{$root}__gallery-text {
                    color: $c-black;
                }
            }
        }

        @include breakpoint('lg') {
            height: 450px;
        }

        /* Select .creations__gallery-text in 4th card */
        @include breakpoint('lg') {
            &:nth-child(4) #{$root}__gallery-text {
                width: 128px;
            }
        }

        &.card-anim {
            animation: card-slide-mobile 700ms ease-in forwards;

            @include breakpoint('md') {
                    animation: card-slide-desktop 700ms ease-in forwards;
            }
        }

        /* Tone down the animation to avoid vestibular motion triggers */
        @media (prefers-reduced-motion) {
            &.card-anim {
                animation-name: dissolve;
                opacity: 1;
            }
        }
    }

    &__gallery-effect {
        display: block;
        width: 100%;
        height: 100%;

        // shadow gradient effect
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
            z-index: 1;
            transition: opacity 250ms ease-in;

            @include breakpoint('lg') {
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
            }
        }

        // White background on hover
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            opacity: 0;
            transition: opacity 600ms ease-in;
            z-index: 1;
        }
    }

    &__gallery-caption {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $c-white;
        overflow: hidden;
        z-index: 5;
        transition: color 400ms ease-in;
        outline: none;

        &:focus {
            outline: 2px dotted $c-black;
            outline-offset: 2px;
        }

        // shine effect for hover
        &::after {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            left: -100%;
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
            z-index: 2;
         }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 500ms ease-in;
        }

        .bg-pos {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--1::before {
            background: url('../../assets/images/mobile/image-deep-earth.jpg');
            @extend .bg-pos;
            
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-deep-earth.jpg');
            }
        }

        &--2::before {
            background: url('../../assets/images/mobile/image-night-arcade.jpg');
            @extend .bg-pos;
    
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-night-arcade.jpg');
            }
        }
    
        &--3::before {
            background: url('../../assets/images/mobile/image-soccer-team.jpg');
            @extend .bg-pos;
    
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-soccer-team.jpg');
            }
        }
    
        &--4::before {
            background: url('../../assets/images/mobile/image-grid.jpg');
            @extend .bg-pos;
    
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-grid.jpg');
            }
        }
    
        &--5::before {
            background: url('../../assets/images/mobile/image-from-above.jpg');
            @extend .bg-pos;
    
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-from-above.jpg');
            }
        }
    
        &--6::before {
            background: url('../../assets/images/mobile/image-pocket-borealis.jpg');
            @extend .bg-pos;
    
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-pocket-borealis.jpg');
            }
        }
    
        &--7::before {
            background: url('../../assets/images/mobile/image-curiosity.jpg');
            @extend .bg-pos;
    
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-curiosity.jpg');
            }
        }
    
        &--8::before {
            background: url('../../assets/images/mobile/image-fisheye.jpg');
            @extend .bg-pos;
            
            @include breakpoint('lg') {
                background: url('../../assets/images/desktop/image-fisheye.jpg');
            }
        }
    }

    &__gallery-text {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 128px;
        font-size: 1.6rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 400ms ease-in;
        z-index: 10;

        @include breakpoint('lg') {
            width: 168px;
            bottom: 32px;
            left: 40px;
            font-size: 2.13rem;
            line-height: 2.13rem;
        }
    }

    &__btn {
        position: relative;
        border: 1px solid $c-black;
        background: none;
        padding: 10px 38px;
        font-size: 0.93rem;
        font-family: $ff-secondary;
        text-transform: uppercase;
        color: $c-black;
        letter-spacing: 5px;
        justify-self: center;
        cursor: pointer;
        transition: background 350ms ease-in, color 350ms ease-in;
        z-index: 1;
        overflow: hidden;

        &--desktop {
            display: none;
        }

        @include breakpoint('md') {
            grid-area: btn;
            justify-self: end;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleX(0);
                transform-origin: left;
                background: $c-black;
                transition: transform 250ms ease-in;
                z-index: -1;
            }

            &:hover {
                &::before {
                    transform: scaleX(1.1);
                }
                color: $c-white;
            }

            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }

        &:focus {
            background: $c-black;
            color: $c-white;
            outline: 2px dotted $c-black;
            outline-offset: 4px;
        }
    }
}