.footer {
    $root: &;
    margin-top: 85px;
    background: $c-black;
    padding: 56px 24px;

    @include breakpoint('md') {
        padding: 45px 55px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        width: 100%;
        max-width: 1110px;
        margin: 0 auto;

        @include breakpoint('md') {
            grid-template-areas: "logo socials" "nav copy";
            grid-gap: 25px;
            justify-items: unset;
            justify-content: space-between;
        }
    }

    &__logo {
        display: flex;
    }

    &__logo-link {
        text-decoration: none;

        &:focus {
            outline: 2px dotted $c-white;
            outline-offset: 4px;
        }
    }

    &__logo-img {
        width: 144px;
    }

    &__nav {
        margin-top: 35px;

        @include breakpoint('md') {
            grid-area: nav;
            margin-top: 0;
        }
    }

    &__nav-list {
        display: flex;
        flex-flow: column;
        align-items: center;
        list-style: none;

        @include breakpoint('md') {
            flex-flow: row;
        }
    }

    &__nav-item {
        position: relative;
        
        &:not(:last-child) {
            margin-bottom: 20px;

            @include breakpoint('md') {
                margin-bottom: 0;
                margin-right: 25px;
            }

            @include breakpoint('lg') {
                margin-right: 33px;
            }
        }
    }
    
    &__nav-link {
        position: relative;
        color: $c-white;
        text-decoration: none;
        font-size: 1rem;
        font-family: $ff-secondary;

        @include breakpoint('md') {
            &:hover {
                &::before {
                    width: 25px;
                }
            }

            &::before {
                position: absolute;
                content: '';
                bottom: -8px;
                left: 50%;
                width: 0;
                height: 2px;
                transform: translateX(-50%);
                background: $c-white;
                transition: width 250ms ease-in-out;
            }
        }

        &:focus {
            outline: 2px dotted $c-white;
            outline-offset: 4px;
        }
    }

    &__socials {
        display: flex;
        margin-top: 50px;

        @include breakpoint('md') {
            grid-area: socials;
            margin-top: 0;
            justify-self: end;
        }
    }

    &__socials-link {
        position: relative;
        display: flex;
        text-decoration: none;
        font-size: 1.6rem;

        @include breakpoint('md') {
            &:hover {
                #{$root}__socials-icon {
                    animation: icon-hover 550ms ease-in;
                }
                
                &::before {
                    width: 100%;
                }
            }
            
            &::before {
                position: absolute;
                content: '';
                bottom: -8px;
                left: 50%;
                width: 0;
                height: 2px;
                transform: translateX(-50%);
                background: $c-white;
                transition: width 250ms ease-in-out;
            }
        }

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:focus {
            outline: 2px dotted $c-white;
            outline-offset: 4px;
        }
    }

    &__copyrights {
        color: $c-gray-very-dark;
        font-family: $ff-secondary;
        font-size: 1rem;
        margin-top: 14px;

        @include breakpoint('md') {
            grid-area: copy;
            margin-top: 0;
        }
    }
}