@use '../utilities/' as *;

.header {
    $root: &;

    &.nav-scroll {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: $c-black;

        #{$root}__container {
            padding: 15px 8px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;

        @include breakpoint('md') {
            padding: 0;
            max-width: 1110px;
            margin: 0 auto;
        }
    }

    &__logo-link {
        display: flex;
        text-decoration: none;

        &:focus {
            outline: 2px dotted $c-white;
            outline-offset: 4px;
        }
    }

    &__logo {
        position: relative;
        width: clamp(9.6rem, 20vw, 12.8rem);
        z-index: 2;
    }

    &__nav {
        &.hamburger--active {
            #{$root}__hamburger-bars {
                transform: rotate(225deg);
                transition: transform 220ms 120ms ease-in-out;

                &::before {
                    top: 0;
                    transition: top 100ms ease-out;
                }

                &::after {
                    bottom: 0;
                    transform: rotate(-90deg);
                    transition: bottom 100ms ease-out,
                        transform 220ms 120ms ease-in-out;
                }
            }
        }

        &.nav--open {
            #{$root}__nav-list {
                display: block;
                animation: navin 600ms ease-in forwards;

                @include breakpoint('md') {
                    display: flex;
                }
            }
        }

        &.nav--close {
            #{$root}__nav-list {
                animation: navout 600ms ease-in-out;
            }
        }
    }

    &__hamburger {
        position: relative;
        border: 0;
        background: transparent;
        cursor: pointer;
        z-index: 2;

        &:focus {
            outline: none;

            & > .header__hamburger-container {
                outline: 2px dotted $c-white;
            }
        }

        @include breakpoint('md') {
            display: none;
        }
    }

    &__hamburger-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;

        &:focus {
            outline: none;
        }
    }

    &__hamburger-bars {
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: $c-white;
        transition: transform 220ms ease-in-out;

        &::before, &::after {
            position: absolute;
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background-color: $c-white;
        }

        &::before {
            top: -7px;
            transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
        }
        
        &::after {
            bottom: -7px;
            transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
        }
    }

    &__nav-list {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: 220px;
        padding-left: 24px;
        list-style: none;
        background: $c-black;

        @include breakpoint('md') {
            position: relative;
            display: flex;
            background: transparent;
            padding: 0;
            width: unset;
            height: unset;
        }
    }

    &__nav-item {
        &:not(:last-child) {
            margin-bottom: 24px;

            @include breakpoint('md') {
                margin-bottom: 0;
                margin-right: 32px;
            }
        }
    }

    &__nav-link {
        position: relative;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $c-white;

        @include breakpoint('md') {
            font-family: $ff-secondary;
            text-transform: unset;
            font-size: 1rem;

            &::before {
                position: absolute;
                content: '';
                bottom: -8px;
                left: 50%;
                width: 0;
                height: 2px;
                transform: translateX(-50%);
                background: $c-white;
                transition: width 200ms ease-in;
            }

            &:hover {
                &::before {
                    width: 25px;
                }
            }
        }

        &:focus {
            outline: 2px dotted $c-white;
            outline-offset: 4px;
        }
    }
}