.kv {
    $root: &;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../assets/images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 650px;
    padding: 64px 24px 0 24px;
    z-index: 10;

    @include breakpoint('md') {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../assets/images/desktop/image-hero.jpg');
    }

    &__container {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }

    &__heading-wrapper {
        margin-top: 132px;
        border: 2px solid $c-white;
        max-width: 450px;

        @include breakpoint('md') {
            max-width: 650px;
        }
    }

    &__heading {
        font-size: clamp(2.13rem, 6vw, 4.8rem);
        max-width: clamp(270px, 51vw, 100%);
        line-height: clamp(2.53rem, 6vw, 4.66rem);
        color: $c-white;
        text-transform: uppercase;
        font-weight: 300;
        padding: 24px;
        transition: padding 250ms ease-in;

        @include breakpoint('lg') {
            padding: 40px 40px 28px 40px;
        }
    }
}