@use '../utilities/' as *;

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html {
    font-size: 15px;
}

body {
    position: relative;
    font-family: $ff-primary;
    background: $c-white;
}