@keyframes navin {
    0% {
        clip-path: circle(0% at 0 100%);
    }
    100% {
        clip-path: circle(150% at 0 100%);
    }
}

@keyframes navout {
    0% {
        clip-path: circle(150% at 0 100%);
    }
    100% {
        clip-path: circle(0% at 0 100%);
    }
}

@keyframes card-shine {
    100% {
        left: 125%;
    }
}

@keyframes icon-hover {
    0% {
        transform: rotateZ(0);
    }
    30% {
        transform: rotateZ(10deg);
    }
    60% {
        transform: rotateZ(-10deg);
    }

    100% {
        transform: rotateZ(0);
    }
}